 <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>test2</title>
  <link rel="stylesheet" href="../static/stylesheet.css">
</head>

<body>
  <div class="logo">
    <nav>

      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/portfolio">PORTFOLIO</a></li>
        <li><a href="/contact">CONTACT</a></li>
      </ul>
      
    </nav>
    <div class="home-text">
      <div class="home">
        <h1 style="font-size:larger ; font-family: cursive ; text-decoration: underline;">Hi i'm Hannah </h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.<br> Odit dolorem ad nemo alias. Saepe sit ipsam
          inventore,<br> et error ab perferendis temporibus iure eius eveniet molestias assumenda ipsum.<br> Quaerat,
          quas.</p>
      </div>

    </div>
    
  </div>

  <footer>
    <a href="https://www.linkedin.com/in/hannah-berhe-b30b14204/" target="_blank">
      <ion-icon size="large" name="logo-linkedin"></ion-icon>
    </a>
    <a href="https://github.com/Hannahberhe" target="_blank">
      <ion-icon size="large" name="logo-github"></ion-icon>
    </a>
  </footer>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </div>
  <source>
</body>
</body>

</html> 
